.base-layout-nav__item {
  display: flex;
  align-items: center;
  gap: 11px;
  height: 44px;
  width: 100%;
  padding: 0 12px;
  border-radius: var(--radius-ctl);
  color: var(--text-2);
  font-size: 14px;
  font-weight: 500;
  transition: all 0.2s;
  position: relative;

  &:hover {
    background-color: #f5f6fb;
    color: var(--text-1);
  }

  &.active {
    background-color: var(--acc);
    color: #fff;

    .base-layout-nav__item-icon {
      filter: brightness(0) invert(1);
    }
  }

  .base-layout-nav__item-icon {
    display: block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
  }

  .base-layout-nav__item-label {
    font-size: 14px;
  }

  .base-layout-nav__item-dot {
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50%;
    right: 12px;
    transform: translateY(-50%);
  }
}
